body {
  background-color: darkslategray;
  font-family: "Press Start 2P", cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center
}

#name-block {
  text-align: center;
}

#name {
  display: none;
}

#title {
  display: none;
}

#portrait {
  display: none;
  object-fit: cover;
  border-radius: 50%;
  width: 320px;
  height: 330px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: blueviolet;
  max-width: 30em;
  border: none;
  color: white;
  padding: 0.35em 1.2em;
  border: 0.01em solid#FFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
}


